* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/daniele-levis-pelusi-AqgHZajV-IU-unsplash.jpg);
  background-size: cover;                  
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  text-align: center;
  background-color: black;
  color: #ffffff;
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  box-shadow: 5px 5px 5px 2px pink;
  text-shadow: 5px 5px 5px #000000;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.parent {
  width: 25%;
  height: 50%;
}

.box1, .box2 {
  display: inline-block;
}

#form {
  width: 50%;
  margin: 150px auto;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px rgba(0, 4, 4, .32), 
              0 4px 5px 0 rgba(0, 0, 0, .32), 
              0 1px 10px 0 rgba(0, 0, 0, .32);
}

.show {
  border: 2px solid red;
  width: 50%;
  margin: -50px auto 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-image: linear-gradient(#ff00ff, red);
  box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.75);
  display: none;
}

.show ul {
  list-style-type: none;
}

.show li {
  margin: 20px 0;
}

.showd {
  display: block;
}

form {
  display: inline-block;
}

form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"], select, textarea {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
}

textarea {
  width: 80%;
}

input[type="submit"] {
  width: 80px;
  height: 30px;
  background-color: rgb(32, 226, 32);
  color: white;
  cursor: pointer;
}

input:focus, select:focus, textarea:focus {
  border-bottom: 3px solid powderblue;
}

.page-footer {
  background-color: black;
  text-align: center;
  color: #ffffff;
  padding: 1px;
  border-radius: 10px;
}

.foote
